.highlight-yellow {
    color: #ffbb02; 
    font-size: 1.5rem; 
    font-weight: bold; 
}

.list-black {
    color: black; 
    font-size: 1rem; 
}

.product-item {
    margin-bottom: 10px; 
    cursor: pointer; 
}

.product-title {
    color: #ffbb02; 
    font-weight: bold; 
}

.product-name {
    color: black; 
    transition: color 0.3s, text-decoration 0.3s;
}

.product-name:hover {
    color: blue; 
    text-decoration: underline; 
}

body {
    margin: 0; 
    padding: 0; 
}

.container {
    max-width: 100%; 
    overflow: hidden; 
}




